.sectionVoluntario {
  background-color: #F8F7F8F8;
  padding: 30px 0;  
  display: flex;
  flex-direction: column;

    h1 {
      text-align: center;
      font-weight: 700;  
    }

    p{
      text-align: center;
      font-size: 1.2rem;
      padding: 15px;
    }   
}

.sectionCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: auto;
  padding: 20px;

  article {
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;    

    h2 {
      font-size: 1.5rem;
    }

    p{
      font-size: 1rem;
    }    
  }
}

.sectionFormulario {
  background-color: #00745A; 
  padding:40px;
}

.formularioConteudo {  
  border: 2px solid blue;
  display: flex;
  flex-direction: column; 
  min-height: 90vh;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  line-height: 3rem;

  input {
    padding: 10px;
    background-color: #F8F7F8F8;
    border-radius: 5px; 
    border: 1px solid #000;
    width: 100%;
  }  
}

.formularioPessoal{  
  display: flex; 
  gap: 10px;
}

.areaMensagem {
  textarea {
    background-color: #F8F7F8F8;
    padding: 10px;
    border-radius: 5px;
  }   
}

.enviarInscricao {
    text-align: center;
}
    
@media (max-width: 768px) {
  .sectionCards {
    flex-direction: column;
    padding: 10px;

    article {
      width: 100%;
    }
  }

  .sectionFormulario {
    padding: 10px;
  }

  .formularioConteudo {
    padding: 20px;

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.9rem;
    }

  .areaMensagem {
      textarea {
        max-width: 100%;
        font-size: 0.7rem;
      }
    }
  }
}
