.section {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;    

    .saudeBox {
        display: flex;
        background-color: #e5e5e5;
        border-radius: 50px;
        gap: 0.5rem;
        align-items: center;
        padding: 0.4rem 0.4rem;
        width: fit-content;

        img {
            width: 1.5rem;
        }

        .saudeBoxTexto{
            font-size: 0.7rem;
            font-weight: 500;
            color:#000;
        }
    }

    .conteudo {       
        max-width: 550px;           

        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.1;
            margin: 1.5rem 0;
            color: #000;
        }

         .conteudoTexto {
            font-size: 1.125rem;
            color: #444;
            line-height: 1.6;
            margin-bottom: 2rem;
        }

        .buttons {
            display: flex;
            gap: 2rem;            

            .btnUm {    
                padding: 12px 24px;          
                border-radius: 8px;
                font-weight: 500;
                font-size: 1rem;
                background-color: #00745A;
                color: #fff;
                
                &:hover {
                    background-color: #02634c;
                }
            }

            .btnDois {
                 padding: 12px 24px;          
                border-radius: 8px;
                font-weight: 500;
                font-size: 1rem;
                border: 2px solid #00745A;
                color:#00745A;            
            }
        }    
    }
}

    .sectionMissao {        
        background-color: #00745A;                
        padding: 3rem 6rem;
        color:#fff;
        line-height: 1.5;   
        
        h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        .boxCards { 
            display: flex;
            gap: 2rem;            
            margin-top: 1.5rem; 
            

            article {
                display: flex;
                flex-direction: column;                
                border: 1px solid #fff;
                border-radius: 20px;
                padding: 2rem; 
                align-items: center;  
                text-align: center; 
                
                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .sectionImpacto {
         padding: 3rem 6rem;
         line-height: 1.5;

           h2 {
            font-size: 2rem;
            font-weight: 700;
        }
         
         .boxCardsImpacto {
            display: flex;  
            justify-content: space-between; 
            gap: 2rem;
            margin-top: 1.5rem;
            
            article {
                display: flex;
                flex-direction: column;                             
                border: 1px solid #000;
                border-radius: 20px;
                padding: 2rem; 
                align-items: center;  
                text-align: center; 
                
                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    color:#00745A;
                    font-weight: 700;
                }
            }
         }

    }
