.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid #c7c7c7;
    font-family: "Inter", sans-serif;    

    .BoxLogo {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        a {            
            color: #000;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
             gap: 2rem;
        }     

        a {            
            font-weight: 500;
            color:#000;                      
        }
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1rem;

        nav {
            ul {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}