.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid #c7c7c7;
    font-family: "Inter", sans-serif;    

    .BoxLogo {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        a {            
            color: #000;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
             gap: 2rem;
        }     

        a {            
            font-weight: 500;
            color:#000;                      
        }
    }
}

@media(min-width: 720px) {

    .nav {   
        input {
             display: none;
        }

        label {
            display: none;
        }       
    }
}
 

@media(max-width: 719px) {
    .menu {
        flex-direction: column;
        flex-wrap: initial;
        position: fixed;
        top:0;
        right:0;
        background-color: #fff;
        height: 50%;
        width: 200px;
        z-index: 4;
        justify-content: center;
        box-shadow: -3px 0px 11px 13px rgba(0,0,0,0.12);
        line-height: 1.0;
        transform: translateX(110%);
        transition: transform 0.5s ease;
        border-radius: 30px 0 0 20px;
    }

    .menuItems {
        height: auto;
    }

    .menuControl {
        display: none;
    }

    .menuControl:checked + .menu {
        transform: translateX(0);
    }

    .hamburguerIcon {         
        display: block;
        width: 30px;
        height: 30px;   
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 99;          
    }    
}
