.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid #c7c7c7;
    font-family: "Inter", sans-serif;    

    .BoxLogo {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        a {            
            color: #000;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {            
            font-weight: 500;
            color:#000;

            &:nth-child(2) {
                background-color: #00745A;
                padding: 0.6rem 1.3rem;
                border-radius: 8px;                
                color: #fff;
            }            
        }
    }
}